*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  & > * {
    width: 100%;
    height: 100%;
  }
}

 a {
  position: relative;
  background: linear-gradient(45deg, hsl(242, 51%, 38%), hsl(243, 100%, 74%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
